@model CodeFirstApproach.Models.EmployeeModel
@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

Eid :@Model.EmpId<br />
Ename :@Model.EmpName<br />
Esalary :@Model.EmpSalary<br />


<form action="~/Default/Delete/@Model.EmpId" method="post">
    <input type="submit" value="Delete" />
</form>