@model CodeFirstApproach.Models.EmployeeModel
@{
    ViewBag.Title = "Edit";
}

<h2>Edit</h2>

<form action="~/Default/Edit" method="post">
    <input type="hidden" name="EmpId" value="@Model.EmpId" />
    <label>Employee Name</label>
    <input type="text" id="EmpName" name="EmpName" value="@Model.EmpName"/><br />
    <label>Employee Salary</label>
    <input type="text" id="EmpSalary" name="EmpSalary" value="@Model.EmpSalary" /><br />
    <input type="submit" value="Save" />
</form>