
@{
    ViewBag.Title = "LoveHuman";
    Layout = "~/Views/Shared/_MasterLayout.cshtml";
}

<h2>LoveHuman</h2>

@section MyDefinedSection
{
    <ul>
        <li>Human is Priceless</li>
        <li>Human Can Achieve anything if they have Will To Acheive</li>
    </ul>
}